<section id="about-me">

  <div class="coluna">
    <div class="quem_eu_sou">
      <h2>Que eu sou?</h2>
      <p>Meu nome é Wesley Feitosa, tenho 25 anos no ano de 2020 (se você veio de um futuro tão tão distante e está
        vendo isso então faça as contas), bem, minha profissão é de programador. Começei a programar usando Java em 2014
        e a possibilidade quase infinita de coisas que foi mostrado pra mim que poderiam ser construídas escrevendo
        somente linhas de código foi muito impactante, agora relembrando um pouco do passado e vislumbrando o futuro
        posso dizer que o entusiasmo de sair por aí construindo aplicações só aumentou.<br />
        Em 2018 eu descobrir o poder do javascript e das maravilhas de suas bibliotecas.Foi então que decidi aprender
        Angular, era uma das tecnologias do momento (tinha acabado de sair o
        novo Angular 2 totalmente reconfigurado), no decorrer dessa jornada como programador eu aprendi também ReactJS,
        no back-end além de já estar familiarizado com as funcionalidades do Java, aprendi também NodeJS e Firebase como
        um Baas, e no mobile estou aprendendo React Native e Flutter. </p>
    </div>
  </div>

  <div class="coluna">
    Coluna 2
  </div>

</section>