section{
  background-size: cover;
  background-color: #071731;
  background: linear-gradient(100deg, #460075 50%, #071731 50%);
  height: auto;
  color: #FFF;
  display: flex;
}

// ícone de voltar a página
.material-icons.navigate_before{
  font-size: 3em;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFF;
}

section .colunas {
  display: flex;
  width: 98vw;
}

.colunas .coluna {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 13.9vh 5vw;
}

.coluna .quem_eu_sou{
  color:#FFF;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

.coluna .quem_eu_sou h2{
  margin-bottom: 15px;
}

.coluna .habilidades {
  display: flex;
  flex-direction: column;
  padding: 28px;
  font-size: 1.2em;
}

.coluna .habilidades h2 {
  margin-bottom: 15px;
}

.habilidades .categoria {
  margin-bottom: 18px;
}

.categoria .tecs {
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
}

@media (max-width: 1000px) {
  section {
    background: linear-gradient(170deg, #460075 57%, #071731 43%);
  }

  section .colunas {
    display: block;
  }

  .colunas .coluna {
    width: 90vw;
  }
}
