<section id="about-me">
  <a [routerLink]="[ '/home' ]">
    <i class="material-icons navigate_before">
      navigate_before
    </i>
  </a>

  <!-- <img src="../../../assets/patrick.png" alt="Impressionante né?"> -->

  <div class="coluna">
    <div class="quem_eu_sou">
      <h2>Esse cara sou eu</h2>
      <p>
        Meu nome é Wesley Feitosa, tenho 25, bem, minha profissão é de programador. Começei a programar usando Java em
        2014 e a possibilidade quase infinita de coisas que foi mostrado pra mim que poderiam ser construídas escrevendo
        somente linhas de código foi muito impactante, agora relembrando um pouco do passado e vislumbrando o futuro
        posso dizer que o entusiasmo de sair por aí construindo aplicações só aumentou.<br /> Em 2018 eu descobri o
        poder do javascript e das maravilhas de suas bibliotecas. Foi então que decidi aprender Angular, era uma das
        tecnologias do momento (tinha acabado de sair o novo Angular 2 totalmente reconfigurado), no decorrer dessa
        jornada como programador eu aprendi também ReactJS no frontend, no backend além de já estar familiarizado com as
        funcionalidades do Java, aprendi também NodeJS e Firebase como um Baas, e no mobile estou aprendendo React
        Native e Flutter.
      </p>
    </div>
  </div>

  <div class="coluna">
    <div class="habilidades">
      <h2>Tecnologias e Habilidades</h2>
      <div class="categoria">
        <p>Linguagem de Programação</p>
        <hr />
        <p class="tecs">C, Javascript, Typescript, Java</p>
      </div>

      <div class="categoria">
        <p>Backend</p>
        <hr />
        <p class="tecs">Node.js & Express.js, Core/MVC/WebAPI</p>
      </div>

      <div class="categoria">
        <p>Frontend</p>
        <hr />
        <p class="tecs">Angular, ReactJS, CSS, HTML</p>
      </div>

      <div class="categoria">
        <p>Banco de Dados</p>
        <hr />
        <p class="tecs">SQL Server, MongoDB, Firestore, Mongoose</p>
      </div>

      <div class="categoria">
        <p>Nuvem</p>
        <hr />
        <p class="tecs">Amazon Web Services, Firebase, Heroku</p>
      </div>

      <div class="categoria">
        <p>Outros</p>
        <hr />
        <p class="tecs">Git & GitHub, REST API, JWT</p>
      </div>
    </div>
  </div>

</section>