section{
  background-size: cover;
  background-color: #071731;
  height: 100vh;
  color: #FFF;
  display: flex;
}

section .coluna {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 90px 90px;
}

section .coluna .quem_eu_sou{
  color:#FFF;
  padding: 28px;
  background-color: #460075;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

section .coluna .quem_eu_sou h2{
  margin-bottom: 15px;
}

section .coluna .quem_eu_sou p {
  font-size: 15px;
  white-space: normal;
}