section{
  background-size: cover;
  background-color: #071731;
  height: auto;
  color: #FFF;
  display: flex;
}

.material-icons.navigate_before{
  font-size: 44px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFF;
}

section .coluna {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 10vh 5vw;
}

section .coluna .quem_eu_sou{
  color:#FFF;
  padding: 28px;
  background-color: #460075;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

section .coluna .quem_eu_sou h2{
  margin-bottom: 15px;
}

section .coluna .quem_eu_sou p {
  font-size: 18.1px;
  word-wrap: unset;
}